<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.florianwolf.onthejob" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Default.Activity"
        android:name="application.OtjApplication"
        >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key"/>

        <activity
            android:name="ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ui.activity.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.activity.MapActivity"
            android:label="@string/map"
            android:screenOrientation="portrait" />

        <activity
            android:name="ui.activity.StatisticsActivity"
            android:label="@string/statistics"
            android:screenOrientation="portrait" />

        <service android:name="geofence.GeofenceTransitionsIntentService" />
        <service android:name="service.ManualLoggingService" />
    </application>
</manifest>
